body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    color: white;
    font-family: "Inter", sans-serif;
}

.inter-font-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

}

.miama-font {
    font-family: 'Miama', sans-serif;
    color: #FFF;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
}

.header {
    background: linear-gradient(180deg, #111 0%, rgba(0, 0, 0, 0.925) 100%);
    padding: 20px 0;
    width: 100%;
    margin-bottom: -22px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.color-1 {
    color: #E6533C;
}

.nav-bar h1 {
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bnt-container ul>li.home {
    background-color: #E6533C;
    color: white;
    border-radius: 46px;
}

.bnt-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 39px;
    border-color: white;
}

.bnt-container ul>li {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: normal;
}
.round-pic p{
    margin: 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allow wrapping on smaller screens */
}

.title h1 {
    font-weight: 900;
    line-height: 120%;
    font-style: normal;
    font-size: 78px;
    color: white;
}

.title-section {
    width: 520px;
    gap: 28px;
    text-align: left;
}

.btn-1 {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-color {
    background: #E6533C;
}

.p-tag {
    color: rgba(255, 255, 255, 0.50);

    /* body-text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    margin-top: -25px;
}

#card-1 {
    position: relative;
    left: 100px;
    top: -100px;
}

#card-2 {
    position: relative;
    right: 100px;
    top: -350px;
}

.tutorial-badge {
    width: 206px;
    height: 96px;
    border-radius: 12px;
    border: 1px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.11);
}

.text-color-1 {
    color: var(--Text-1, #FAFAF9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text-color-2 {
    color: var(--Text-2, rgba(239, 237, 232, 0.65));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.main {
    background: black;
}

.havit-container {

    max-width: 1440px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

.havit-pic {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.img {
    border-radius: 50%;
}

.run {
    width: 443px;
    align-items: center;
    text-align: left;
    gap: 34px;
}

.motivation {
    display: flex;
    padding: 30px 32px 29px 54px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 18px;
    background: #222;
}

.parent-bmi {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}


.bmi {
    display: flex;
    justify-content: center;
    /* Centers the .bmi-heading container horizontally */
}

.bmi-heading {

    justify-content: center;
    text-align: left;
    /* Aligns the text to the left inside the .bmi-heading container */
    max-width: 100%;
    /* Ensures that the content does not overflow */
}

.bmi-section {
    background: #222;
    height: 500px;
}

/* table */
.table {
    height: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.50);
    font-weight: normal;

}

.table th,
.table td {
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.table th {
    font-weight: bold;
    padding: 8px 12px;
}

.caption {
    font-size: 1.2em;
    /* Slightly reduce caption font size */
    margin-bottom: 10px;
    /* Add spacing below the caption */
    font-weight: bold;
    /* Make the caption bold */
}



/* input field  */

.input-row {
    display: flex;
    margin-bottom: 10px;
}

.input-row input {
    width: 100%;
}

.input-btn {
    height: 16px;
    padding: 12px 40px 12px 20px;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
}

.full-width {
    width: 88%;
    margin-bottom: 10px;
}


.btn-color:hover {
    background-color: #45a049;
}


.team{
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    padding: 40px;


}

.team-heading {
    margin-top: 88px;
    margin-bottom: 58px;
    text-align: center  ;
}

.team-member {
    position: relative;
    overflow: hidden;

}

.img-3 {
    width: 90%;
    height: auto;
    border-radius: 18px;
}

.team-member .overlay-text {
    position: absolute;
    top: 250px;
    left: 60px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;

}

.team-member h1,
.team-member p {
    margin: 0;
    text-align: left;
}




.bmi-content{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 2px solid white; */
}

.bmi-content > h1{
    font-size: 2.7rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.bmi-content > p{
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator{
    display: flex;
    justify-content: space-between;
    padding: 50px 190px;
    background-color: #222222;
    /* border: 2px solid white; */
}

.bmi-chart{
    width: 45%;
    /* border: 2px solid yellow; */
}

caption{
    font-size: 1.4rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 40px;
}

table{
    border-collapse: collapse;
}

td, th{
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

th{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}

td{
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.calculate-bmi{
    width: 45%;
    /* margin-bottom: 30px; */
    /* border: 2px solid yellow; */
}

.calculate-bmi > h1{
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.calculate-bmi > p{
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.input-field-parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid green; */
}

.input-field{
    width: 49%;
    /* border: 2px solid orange; */
}

.input-field > input, select{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 300;
}

.input-field > select{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
}

select > option{
    color: black;
}

.activity-factor{
    margin-bottom: 30px;
}

.activity-factor > select{
    color: rgba(255, 255, 255, 0.5);
}

.calculator-btn > button{
    padding: 15px 70px;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E6533C;
    transition: background-color 1s;
}

.calculator-btn > button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;

}





.meet-team-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 60px;
    /* border: 2px solid white; */
}

.meet-team-content > h1{
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.meet-team-content > p{
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}



.gallery-main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #222222;
    border-radius: 20px;
    margin-bottom: 90px;
    /* border: 2px solid red; */
}

.card{
    position: relative;
    /* border: 2px solid green; */
}

.card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(75%);

}

.card-info{
    position: absolute;
    bottom: 0%;
    left: 5%;
    /* border: 2px solid yellow; */
}

.card-info > h4{
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: -10px;
}

.card-info > p{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
}

.healthy-diet-content {
    text-align: center;
    margin: 50px 0;

}

.flowchart-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
     
}

.p-color {
    color: rgba(255, 255, 255, 0.50);
    font-weight: normal;
    line-height: 1.2;
}

.flowchart-node h4 {
    color: rgb(249, 249, 249);
}

.flowchart-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
}

.round-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #E6533C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(247, 2, 2, 0.1);
}

.round-chart h4 {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.round-chart p {
    margin: 10px 0; /* Add vertical margin to space out the paragraph text */
    font-size: 14px;
    color: #000000;
    text-align: center;
   
}

.flowchart-node img {
    width: 50px;
    height: 50px;
    margin: 10px 0; /* Add vertical margin to separate images from other elements */
}



#start{
    height: 20%;
    width: 50%;
    margin-bottom: 40px;
    border-radius: 10px;

}




.footer-main{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 150px 20px 150px;
    background-color: #222222;
    /* border: 2px solid red; */
}

.footer-1{
    width: 40%;
    /* border: 2px solid blue; */
}

.footer-2{
    width: 25%;
    /* border: 2px solid blue; */
}

.footer-3{
    width: 25%;
    /* border: 2px solid blue; */
}

.footer-1 h1{
    font-size: 4rem;
    font-weight: 900;
    color: #E6533C;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-section-1 p{
    font-size: 0.9rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.footer > ul > li > a{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer h3{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer > ul > li{
    line-height: 2;
    list-style-type: none;
    font-weight: normal;
}





.footer-rights{
    margin: 0 auto;
    text-align: center;
    padding: 35px 0;
    background-color: #222222;
    font-weight: normal;
}

.footer-rights > p{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    font-weight: normal;
}


/* Media Queries for Mobile Devices */
@media only screen and (max-width: 576px) {
    .nav-bar h1 {
        color: #E6533C;

        font-family: Inter;
        font-size: 36px;
        font-style: italic;
        font-weight: 800;
        line-height: 120%;
        margin-left: 20px;

    }

    .navbar {
        max-width: 500px;
        margin: 0 auto;
    }

    .header {
        text-align: left;
    }

    .bnt-container ul>li {
        display: none;

    }

    .title {
        flex-direction: column;
    
        align-items: center;
        width: 353px;
        flex-direction: column;
        margin-left: 20px;
        
    }

    .title h1 {
        font-size: 36px;
        text-align: left;
        
    }

    .title-section {
        display: flex;
        width: 352px;
        flex-direction: column;
        line-height: 1px;
        margin-bottom: -80px;
    }



    .btn-1 {
        width: 144px;
        height: auto;
       
        padding: 12px;
        gap: 20px;
        margin: 10px 5px 20px;
       
        font-size: 14px;
        
    }

    .title-section h1,
    .title-section p {
        line-height: 1.2;
        text-align: left;
        
    }

    
    .title-section {
        display: flex;
        width: 352px;
        flex-direction: column;
        line-height: 1.2;
        
    }

    .title-section p {
        width: 274px;
    }

    .nav-btn {
        display: flex;
    }

    #card-1 {
        position: relative;
        left: -100px;
        top: 350px;
    }

    #card-2 {
        position: relative;
        right: -100px;
        top: -530px;
    }

    .tutorial-badge {
        width: 180px;
        height: 80px;
        border-radius: 12px;
        border: 1px rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.11);
    }

    .img-1 {
        width: 353px;
        height: 588px;
        flex-shrink: 0;
    }

    .havit-pic {
        flex-direction: column;
    }

    .havit-container {
        max-width: 338px;
        margin: 0 auto;
    }

    .img-2 {
        width: 260px;
        height: 170px;
        border-radius: 18px;
    }

    .motivation {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
        margin: 30px auto;
        padding: 31px 33px 35px 33px;
        justify-content: center;
    }

    .parent-motivation {
        display: flex;
        justify-content: center;
    }

    .run {
        text-align: left;
        max-width: 100%;
        
    }

    .run p {
        font-size: 10px;
    }

    .img-2 {
        max-width: 100%;
        
        height: auto;
       
    }

    .btn-1 {
    border-radius: 42px;
        width: 100%;
    }


    .parent-bmi {
        flex-direction: column;
        justify-content: center;
    }

    .bmi-section {
        margin: 0 auto;   
        height: auto;
        text-align: left;
        padding-left: 20px;
       
    }



    .input-row {
        display: flex;
        margin-bottom: 10px;
    }
    
    .input-row input {
        width: 100%;
    }
    
    .input-btn {
        height: 16px;
        padding: 12px 40px 12px 20px;
        align-items: center;
        margin-left: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.10);
    }
    
    .full-width {
        width: 88%;
        margin-bottom: 10px;
    }



    .team-section {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        width: 100%; 
    }
    
    .team {
        max-width:260px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-right: 105px;
    }    




    .bmi-content{
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .bmi-content > h1{
        font-size: 2rem;
    }

    .bmi-calculator{
        flex-direction: column;
        padding: 50px 0px;
        
    }

    .bmi-chart{
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .caption{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .calculate-bmi{
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
        /* margin-bottom: 60px; */
    }


    
    .meet-team-content > h1{
        font-size: 1.9rem;
    }

    .meet-team-content > p{
        font-size: 0.8rem;
    }
    .gallery-main{
        margin-bottom: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-none{
        display: none;
    }

    .flowchart-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Ensures centering */
        width: 100%; 
        padding: 0; /* Remove padding temporarily */
        margin: 0; /* Remove margin temporarily */
        position: static; /* Ensure it's not moving unexpectedly */
        overflow: hidden; /* Prevent content overflow */
        box-sizing: border-box; /* Ensure padding/margins are within the width */
    }
    

    .flowchart-node {
        width: 100%; 
        max-width: 300px; 
        margin:  20px auto;
    }

    .round-chart {
        width: 120px; 
        height: 120px;
    }

    .round-chart h4 {
        font-size: 16px; 
    }

    .round-chart p {
        font-size: 12px; 
    }

    
    .footer-main{
        flex-direction: column;
        gap: 30px;
        padding: 15px;
    }

    .footer-section-1, .footer-section-2, .footer-section-3{
        width: 100%;
        
    }






}